@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h2 {
    @apply font-primary text-[45px] mb-4;
  }
  .h3 {
    @apply text-2xl font-primary font-semibold tracking-[1px] mb-2;
  }
  .btn {
    @apply text-[15px] tracking-[3px] font-primary uppercase text-white flex-1 transition-all px-8 flex justify-center items-center;
  }
  .btn-sm {
    @apply h-[48px];
  }
  .btn-lg {
    @apply h-[60px];
  }
  .btn-primary {
    @apply bg-primary hover:bg-primary-hover;
  }
  .btn-secondary {
    @apply bg-secondary hover:bg-secondary-hover;
  }
}
